.pokemonDetail, .loadingPokemonMessage, .pokemonSelectInfo  {
	position: fixed;
	left: 50%;
  transform: translate(-50%, 0);
	z-index: 200;

	padding: 5pt;
	border-radius: 10pt;
	border-bottom: 2pt solid #73AD21;
  text-transform: capitalize;
  text-align: center;

	background-color: rgba(255,255,255,.8);
}

.pokemonDetail, .loadingPokemonMessage {
	transform: translate(-50%, -50%) scale(1.5,1.5);
	left: 50%;
	top: 50%;
}

.pokemonDetail .close {
	position: absolute;
	padding: 5pt;
	line-height: 15pt;
	font-size: 15pt;
	right: 0;
	top: 0;
	cursor: pointer;

	transition: all .2s ease, transform .5s cubic-bezier(0, 1, .5, 1.5);
}
.pokemonDetail .close:hover {
	transform: scale(1.5, 1.5);
}
.pokemonDetail .close:before {
	color: rgba(255, 50, 50, .8);
	content: "\2716";
}

.pokemonDetail img { }

.pokemonDetail .info {
	display: inline-block;
}

.pokemonDetail .info .name {
  margin-top: 5pt;
  margin-right: 5pt;
}

.pokemonDetail .info .types {
	border-radius: 10pt;
	border: 2pt solid black;
	margin: 10pt 0;
	text-align: center;
	overflow: hidden;
  list-style-type: none;
	padding: 0;
}

.damageChartWrapper {
}
