
.pokemonTable td {
	text-align: center;
	vertical-align: middle;

	transition: all 0.5s cubic-bezier(0, 1, .5, 1.5);
}
.pokemonTable td:hover {
	transform: scale(1.5, 1.5);
	background-color: green;
}
