body {
	background-color: rgb(230, 230, 230);
}

.pokemonTableLoadingMessage {
	font-size: 200%;
}

.pokemonDetail {
	position: fixed;
	left: 50%;
  transform: translate(-50%, 0);
	z-index: 200;

	border-radius: 10pt;
	border-bottom: 2pt solid #73AD21;

	background-color: rgba(255,255,255,.8);
}

.pokemonDetail {
	position: fixed;
}

.pokemonTable ul {
	margin: 0;
	padding: 0;
}
.pokemonTable li {
	display: inline-block;

	border-radius: 10pt;
	border-bottom: 2pt solid #73AD21;

	transition: all .2s ease, transform .5s cubic-bezier(0, 1, .5, 1.5);
}
.pokemonTable li:hover {
	transform: scale(1.5, 1.5);

	background-color: rgba(255,255,255,.8);

	z-index: 100;
}
.pokemonTable li figure {
  text-align: center;
  display: table;
	margin: 0; /* apparently figures have margins by default */
}
.pokemonTable li figure img {
	margin-left: 3pt;
	margin-right: 3pt;
}
.pokemonTable li figure figcaption {
	display: table-caption;
	caption-side: bottom;
	margin-bottom: 3pt;
}
