html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(230, 230, 230);
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-shadow: 1px 1px black, 0 0 4px rgba(0, 0, 0, 0.5);
	text-align: center;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}




#search {
	font-size: 1em;
	text-align: center;

	position: fixed;
	top: 0;
 	transform: translate(-50%, 0);
	z-index: 200;
	margin: 0.8em auto;

	padding: 0.5em;
	border-radius: 20px;
	border: 0;
	width: 18em;
	max-width: 90%;

	background-color: rgba(255,255,255,.8);
}
#loading, #error {
	position: fixed;
	left: 50%;
	top: 50%;
 	transform: translate(-50%, -50%);
}
#content {
	flex: 1 0 auto;
}
#footer {
	flex-shrink: 0;
	padding: 1em;
}




.pokedex {
	padding-top: 4em;
}




.list {
	text-align: center;
	padding: 0;
}

.list .item {
	display: inline-block;
}




.list .pokemon {
	margin: 0.2em;
	/*background set in code*/
	border-radius: 16px;
	overflow: hidden;
	box-shadow:
		inset 0 -2px 2px rgba(0, 0, 0, 0.2), 
		inset 0 2px 2px rgba(255, 255, 255, 0.2);
	cursor: pointer;
	transition: all .5s cubic-bezier(0, 1, .5, 1.5);
	padding: 0 0.2em 0.5em 0.2em;
}

.list .pokemon:hover {
	transform: scale(1.5, 1.5);
	z-index: 100;
	box-shadow:
		inset 0 -2px 2px rgba(0, 0, 0, 0.2), 
		inset 0 2px 2px rgba(255, 255, 255, 0.2),
		1px 3px 3px 3px rgba(0, 0, 0, .3);
}

.list .hidden .pokemon {
	display: none;
}

.list .pokemon img {
	width: 96px;
	height: 96px;
}





.detailsWrapper {
	pointer-events: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	z-index: 200;
}

.details {
	pointer-events: all;
	border-radius: 16px;
	overflow: hidden;
	cursor: zoom-out;
	transition: all .3s ease-in-out;
	box-shadow: 
		inset 0 -2px 2px rgba(0, 0, 0, 0.2), 
		inset 0 2px 2px rgba(255, 255, 255, 0.2),
		2px 6px 6px 6px rgba(0, 0, 0, .3);
}

.hidden .details {
	transform: scale(0, 0);
    opacity: 0;
}

.details .pokemon img {
	width: 192px;
	height: auto;
}

.details .pokemon .name {
	font-size: 150%;
}

.details .damageChart {
	padding: 0.5em;
	margin: 0;
}

.details .damageChart::before {
	content: "Type effectiveness:";
	font-size: 120%;
	display: block;
	padding: 0.5em;
}




.typeBadge {
	margin: 0.2em;
	padding: 0.2em 0.4em;
	border-radius: 0.4em;
	box-shadow: 
		inset 0 -2px 0 rgba(0, 0, 0, 0.2), 
		inset 0 2px 0 rgba(255, 255, 255, 0.2);

	display: inline-block;
}

.typeBadge .type {
	text-transform: uppercase;
	display: inline-block;
}

.typeBadge .effectiveness {
	display: inline-block;
	padding-left: 0.5em;
}
